
			/*header*/
			header{height: 3.7rem;}
			.header-main{
				padding:0.8rem;
				width: 100%;
				background-color:#ff7300;
				height: 3.7rem;
				color: #FFFFFF;
			}
			.header-main .go-back{
				width:20%;
				height: 1.5rem;
				display: inline-block;
				float: left;
				background: url(../images/header-history.png) no-repeat left center;
				background-size: contain;
				margin-top: 0.3rem;
			}
			.header-main .title{height: 2.1rem;line-height: 2.1rem;width: 60%;text-align: center;font-size:1.167rem;display: inline-block;float: left;}
			.header-main .tip{width: 20%;text-align: right;float: right;display: inline-block;height: 2.1rem;line-height: 2.1rem;font-size: 1rem;}
			/*main*/
			.quizmain{padding:1.8rem 1rem;color: #999999;}
			.quizmain input {width: 100%;border: 1px solid #E9E9E9;height: 2.1rem;line-height: 2.1rem;border-radius: 5px;margin-bottom: 1.5rem;font-size:1rem;}
			.quizmain textarea{height: 6.3rem;font-size:1rem;line-height:2rem;width: 100%;border: 1px solid #E9E9E9;border-radius: 5px;margin-bottom: 1rem;padding: 0 0.5rem;}
			.quizmain p{margin-top: 0.7rem;height: 2.25rem;line-height: 2.25rem;}
			.quizmain p select{margin-top: 0.25rem;height: 2rem;display: inline-block;border: 1px solid #E9E9E9;margin-left: 0.3rem;}
			.quizmain p button{height: 2.25rem;line-height:0rem;padding-left: 1rem;padding-right: 1rem;float: right;background-color: #FF6600;display: inline-block;color: #FFFFFF;border-radius: 5px;border: 1px solid #ff6600;}

