
			/*header*/
			header{height: 3.7rem;}
			.header-main{
				padding:0.8rem;
				width: 100%;
				background-color:#ff7300;
				height: 3.7rem;
			}
			.go-back{background: url("../images/header-history.png") no-repeat center center;background-size: contain;width:10%; height:1.875rem;float:left;display: inline-block;}
			.header-search{height: 100%;margin: 0 0.8rem;width: 15.625rem;border-radius:1rem;border:1px solid #FFFFFF;background-color: #FFFFFF;display: inline-block; width: 70%;}
			.header-search input{border: 0;background-color: transparent;padding-left: 0.5rem;font-size: 1.2rem;line-height: 2.1rem;}
			.search-icon{background: url("../images/search-icon.png") no-repeat center center;background-size: contain;height: 1.67rem;width: 1.67rem;top: 0.2rem;right: 0.6rem;}
			.header-filtrate{font-size: 1rem;float: right;color: #FFFFFF;line-height:1.875rem;width: 10%;height:1.875rem;background: url(../images/filtrate-icon.png) no-repeat top left;background-size: contain;}
			/*main*/
			.price-list{/*background-color:#FFFFFF;*/}
			.price-list ul li{border-bottom: 1px solid #CCCCCC;padding: 1.5rem 1rem 1rem;font-size: 1rem;background-color: #FFFFFF;}
			.price-list ul li p:first-child{height:1.8rem;color: #666666;}
			.price-list ul li p:first-child span:first-child{color: #333333;}
			.price-list ul li p:nth-child(2){height: 2rem;line-height: 2rem;}
			.price-list ul li p:nth-child(2) span{line-height: 2rem;color: #999999;}
			.price-list ul li p:nth-child(2) a:nth-child(2){float: right;}
			.price-list ul li p:nth-child(2) span:nth-child(2){display: inline-block;padding: 0 1rem;color: #FFFFFF;background-color: #3da8ff;border-radius:5px;}
			/* 滚动条加载 */
	    	body{position: inherit;}
			.iscroll-box{position:absolute;z-index:1;top:3.7rem;bottom:0px;/*left:0;*/width:100%;overflow:auto;}
			.iscroll-box.z-index{ z-index:80; opacity:1;}
			.iscroll-box .scroller{position:absolute; z-index:1;-webkit-tap-highlight-color:rgba(0,0,0,0);width:100%;padding:0;}
			.iscroll-box div[data-pull]{ display:block;height:44px; line-height:44px; text-align:center;color:#666;}
			.iscroll-box div[data-pull=up]:before{ content:"上拉加载更多数据";}
			.iscroll-box div[data-pull=up].loading:before,.iscroll-box div[data-pull=up].flip:before{content:"正在拼命加载中...";}
			.iscroll-box div[data-pull=up].end:before{ content:"已经加载所有数据";}
			.iscroll-box div[data-pull=up].nodata:before{content:"暂无数据";}
			.iscroll-box div[data-pull=down]:before{content:"下拉更新数据";}
			.iscroll-box div[data-pull=down].loading:before,.iscroll-box div[data-pull=down].flip:before{content:"正在更新中...";}
	